* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Roboto;
	display: flex;
	justify-content: center;
	background-color: #282f31;
}

.main-app{
	height: 100vh;
	display: flex;
}

.results{
	background-color: #fff;
	flex: 1;}
  .results-list {
    list-style: none; 
  }
  .results-list li {
  }
  .results-link:link, .results-link:visited{
    display: flex;
    align-items: center;
    transition: all .3s;
    border-right: 1px solid #fff;
    text-decoration: none; 
  }
  .results-link:hover{
    background-color: #F9F5F3;
  }
  .results-link-active{
    background-color: #F9F5F3; 
  }
  .results-fig {
    flex: 0 0 5.5rem;
    margin: 10px !important;
    border-radius: 50%;
    overflow: hidden;
    height: 5.5rem;
    position: relative;
    backface-visibility: hidden; 
  }
    .results-fig img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .3s;
       }
  .results-name {
    font-size: 1rem;
    color: #F59A83;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .3rem; 
  }
  .results-author{
    font-size: .8rem;
    color: #968B87;
    text-transform: uppercase;
    font-weight: 600; 
  }
  








.recipe-show {
	background-color: #eee;
	flex: 3;
	.ui.category.search {
		background-color: #344044;
		padding: 20px; 
		height: 10vh;
	}
		.ui.icon.input>i.icon {
			color: yellow;
			opacity: 1; 
		}
		.ui.input>input {
			width: 800px;
			background-color: transparent;
			border-radius: 2px;
			border-bottom: 1px solid yellow;
			color: #fff; 
			font-size: 1.5rem; 
		}
			input:focus {
				border-color: transparent !important; 
				border: none;
			}
			input::placeholder {
				color: yellow;
				font-size: 1.5rem; }


	.recipe-details {
		height: 70vh;
	}	
		.recipe-section-img {
			height: 20rem;
    	position: relative;
    	transform-origin: top; 
    }
    	.recipe-title {
    		position: absolute;
    		bottom: 0; 
    		background-color: #344044; 
    		padding: 15px; 
    		color: #fff; 
    		font-weight: 200;
    		margin-bottom: 0px; 
    	}
			.recipe-img {
				width: 100%;
		    display: block;
		    height: 100%;
		    object-fit: cover; 
		  }
		  .recipe-heart {
		  	font-size: 3rem;
		  	color: lightpink;
		  	position: absolute;
		  	bottom: 20px;
		  	right: 20px;
		  	cursor: pointer;
		  } 

		  .recipe-info-bar {
				border-bottom: 2px solid #ddd;
				height: 50px;
				padding: 15px;
				display: flex;
				position: relative;
				justify-content: center; 
			}
				.recipe-info {
					display: flex;
					justify-content: center;
					flex: 1; }
				.recipe-info:first-child {
					border-right: 2px solid #000;
				}
					.recipe-info i {
						flex: 1;
						font-size: 1.2rem; 
						text-align: right;
						margin-right: 10px; 
					}
					.recipe-info h4 {
						flex: 1; 
						margin-top: 0;
						font-size: 1.2rem; 
					}		



		.recipe-ingredient-list {
			-moz-column-count: 2;
	    -moz-column-gap: 20px;
	    -webkit-column-count: 2;
	    -webkit-column-gap: 20px;
	    column-count: 2;
	    column-gap: 20px;
	    padding: 40px;
	    height: 50vh;
			} .recipe-item {
				display: flex;
				background-color: #eee;
				padding: 10px;
			} .ingredient {
				margin-right: 20px;
			} 


		.recipe-footer {
			background-color: #344044;
			height: 5vh;
			display: flex;
			align-items: center;
		} .visit-site {
			display: flex;
			flex: 3; }
			.visit-site a {
				color: #fff;
				font-size: 1rem;
				margin-left: 20px;
				border: 1px solid #fff;
				border-radius: 5px;
				padding: 7px;
				box-sizing: border-box;
		}


		.copyright {
			flex: 1;
			text-align: right;
			color: #fff;
			margin-right: 10px;
		} 

}
